<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading"> about us</h1>
                <p class="text-center sub-heading">grow youe bussiness for us</p>
                <div class="row">
                   <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="imag/about.svg" alt="" srcset="">
                    </figure>
                    </div>

                    <!--right-->
                     <div class="col-md-6 col-12 hero-text  d-flex justify-content-center aling-items-center flex-column" >
                        <h1 class="ku"> we will help you to</h1>
                        <h1> grow your bussiness</h1>
                        <p>we are the team of <span class="bold-style"> profecion developee</span>
                        </p>
                        <button class="btn-style btn-primary">read more</button>
                    </div>

                </div>
            </div>
        </div>
    </div>