<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58964.41934726163!2d71.9236383!3d22.5313237!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e867526dc849f%3A0xd51816af573aeefb!2sKhokhra%20Cir%2C%20Maninagar%20East%2C%20Khokhra%2C%20Ahmedabad%2C%20Gujarat%20380008!5e0!3m2!1sen!2sin!4v1641558081073!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
